<div class="jumbotron d-flex flex-column justify-content-between align-items-center">
  <h1 class="display-3">Dashboard</h1>
  <p class="lead">Welcome <%= user.name %></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/logout" role="button">Logout</a>
  </p>
</div>